
html {
    overflow-y: scroll;
}

body#wholeDocument {
    -webkit-text-size-adjust:none; 
    font-family: Helvetica, sans-serif; 
    font-size: 12px;
font-family: "EB Garamond", sans-serif; 
    text-align: justify;
    line-height: 1.32;
    
}
/* height hack to make nested divs set to 100% height work in Chrome and Firefox */
table.whole-row, table.whole-note, table#column-header {
    height: 1px;
}
table {
    border-collapse: collapse;
}
div {
    width: 100%;
    box-sizing: border-box;
    min-height: 13px;
}
div#centered, .temp {
    display: block;
    text-align: center;
}
div#centered > table, div.temp-wrapper {
    margin: 0 auto;
    text-align: left;
}
tr.outline-row > td > div, table.note-table {
    display: inline-table;
}
tr.outline-row > td > div > div, tr.outline-row > td div.note-icon, tr.note-row > td > div, table.outline-column div, table.note-table div  {
    display: inline-table;
}
div.column, div.note-filler > div {
    display: inline-block; 
}
tr#header div {
    display: inline-block;
}
div.pdf-div {
    width: 100%;
    position: relative;
    display: block;
}
object.pdf-object {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
iframe.pdf-iframe {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border: none;
}
td,th {
    padding: 0px;
    empty-cells: show;
}
div.force-wrap {
    table-layout: fixed;
    word-wrap: break-word;
}
tr#header {

        border-bottom: 1px solid rgba(0,0,0,0.25);
    
}
/* This is the table used for just the outline column/note column and is nested in the cell for the outline column of the row */
table.outline-column td, table.outline-column-note td {
    border-bottom: 0px;
    border-left: 0px;
}
tr.outline-row > td, tr.note-row > td  {
    height: inherit;
}
table.outline-column, tr.outline-row td, tr.note-row td, div.outline-column-div, div.note-filler, tr#header td, tr#header > td > div, div.note-outline-column-div {
    height: 100%;
}
@media all and (-ms-high-contrast:none) {
    /* Target IE */
    div#centered tr.outline-row > td, div#centered tr.note-row > td, div#centered tr#header td  {
        height: 5px;
    }
}
@supports (-ms-accelerator:true) {
    /* Target MS Edge */
    div#centered tr.outline-row > td, div#centered tr.note-row > td, div#centered tr#header td  {
        height: 5px;
    }
}
tr#header div, table.outline-column, table.note-table {
    width: 100%;
}
.handle {
    white-space: nowrap;
    text-align:right;
    vertical-align: baseline;
}
td.label {
    text-align: right;
    white-space: nowrap;
}
td.label, .column {
    vertical-align: baseline;
}
tr.note-row td.label {
    /* Same row label is put in invisibly the note to keep alignment but,
    if it's a large font size, this will cause the note to be taller
    than it should be. This works around that */
    line-height: 0;
}
div.white-space {
    white-space: pre-wrap;
}


/********* START ********
Grid lines
*************************/
tr#header td > div {

}
div.note-div, div.note-filler, div.outline-column-div, tr.outline-row > td:not(.column) > div.fill-cell, div.note-outline-column-div, tr.outline-row > td:nth-of-type(3) > div  {
    
}


table#column-header {

}
table#column-header ~ table.whole-row:first-of-type {
    border-top: none;
}
tr.outline-row > td:last-of-type:not(.column) > div.fill-cell, tr.note-row > td:last-of-type:not(.note) > div.note-filler, tr#header td:last-of-type > div {

}
/* END grid lines */

table.outline-column-note {
    width: 100%;
    height: 100%;
}
.fill-cell {
    height: 100%;
    width: 100%;
}

.summary_node {
    background: rgba(0,0,0,.12);
}
    
/* To make checkbox columns always centered */
div#centered div.checkbox {
    text-align: center;
}

table.outline-column td:not(:last-of-type) {

}

/********* START ********
Expand/collapse
*************************/
.visible {

}
.hidden {
    display: none;
}
.temp {
    min-height: 0px;
}
/* END expand/collapse */

div.note-outline-column-div table {
    vertical-align: top;
}

td.empty {
    display: none;
}


/********* START ********
Image handle styles
*************************/
td.note {
    vertical-align: baseline;
}
div.handle img {
    vertical-align: middle;
}
div.note-icon {
    text-align: center;
}
img.status {
    height: 13px;
    width: 13px;
    position: relative;
    bottom: 1px;
    top: 0px;
}
img.checkbox-column {
    height: 13px;
    width: 13px;
    vertical-align: middle;
}
img.leaf {
    height: 5px;
    width: 5px;
    position: relative;
    top: -1px;
}
img.parent {
    height: 9px;
    width: 9px;
}
img.note-icon {
    height: 13px;
    width: 13px;
    position: relative;
    vertical-align: middle;
}

/* END image handle styles */


/********* START ********
Padding values
*************************/

/* Column text */
table.outline-column td:nth-of-type(4), div.column, tr#header div > div > div  {
    padding-left: 4px;
    padding-right: 4px;
}

table.outline-column td:nth-of-type(4), div.column, div.note-icon  {
    padding-bottom: 2px;
    padding-top: 1px;
}
/* When a note is expanded, the row it belongs to doesn't have bottom row padding, that padding goes to the bottom of the note */
table.note-expanded table.outline-column td:nth-of-type(4), table.note-expanded div.column, table.note-expanded div.note-icon {
    padding-bottom: 0px;
}
/* last-child class is set by JS */
tr.last-child table.outline-column td:nth-of-type(4), tr.last-child div.column, tr.last-child div.note-icon {
    padding-bottom: 2px;
}
/* Note text */
table.note-table td:nth-of-type(4) {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0px;
    padding-bottom: 2px;
}
table.note-table {
    margin-top: 0px;
}
/* Set above children padding */
tr[data-state="expanded"][data-has-children="1"] table.outline-column td:nth-of-type(4), tr[data-state="expanded"][data-has-children="1"] div.column {
    padding-bottom: 2px;
}
/* When there are children and note is expanded, don't set above children padding on the row, it goes to the note */
tr[data-state="expanded"][data-has-children="1"].note-expanded table.outline-column td:nth-of-type(4), tr[data-state="expanded"][data-has-children="1"].note-expanded div.column, tr[data-state="expanded"][data-has-children="1"].note-expanded div.note-icon {
    padding-bottom: 0px;
}
/* Set above children padding on the note when it is visible */
tr[data-state="expanded"][data-has-children="1"].note-expanded + tr.note-row table.note-table td:nth-of-type(4) {
    padding-bottom: 2px;
}
/* Set last child padding on the note when it is visible, last-child class is set through JS */
tr.note-row.last-child table.note-table td:nth-of-type(4) {
    padding-bottom: 2px;
}



td.label {
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 3px;
}
td.label:empty {
    vertical-align: inherit;
}
img.parent {
    padding-right: 3px;
}
img.leaf {
    padding-right: 5px;
}
/* End padding values */



table.alt-row tr.outline-row > td > div.alt-row-layer, table.alt-row tr.note-row > td > div.alt-row-layer, table.alt-row.whole-note {
    background-color: rgba(0,0,0,0)
}

tr.note-row td.note {
    /* padding-left: 5px;
    padding-right: 3px; */ 
    border: none;

}
tr.note-row td.note-bg {

}
table.whole-row, table.whole-note, table#column-header, div.temp-wrapper {
width: 736px;

}
/******************
Column widths and styles, including background. Also applies to column titles. Skip tr.note-row for the outline column.
These fold in any named styles applied to columns so any manual changes to named styles will also need to be done here
*******************/
/* When notes are set to span columns, need to override column widths */
div#centered table.span-columns {
    width: 100%;
    max-width: 100%;
}
/* Column widths + backgrounds */
tr#header td:nth-of-type(1), tr.outline-row > td:nth-of-type(1), tr.note-row > td:nth-of-type(1) { 
    width: 119px; 
    max-width: 119px; 
    
}
table.outline-column { 
    width: 338px; 
    max-width: 338px; 
}
tr#header td:nth-of-type(2), tr.outline-row > td:nth-of-type(2) { 
    width: 338px; 
    max-width: 338px; 
    background-color: rgba(255,255,255,0.2);
    
}
tr#header td:nth-of-type(3), tr.outline-row > td:nth-of-type(3), tr.note-row > td:nth-of-type(3) { 
    width: 279px; 
    max-width: 279px; 
    
}

/* Column styles but not background. Separate from above because this doesn't apply to column titles. Skip tr.note-row for the outline column. */
tr.outline-row > td:nth-of-type(1), tr.note-row > td:nth-of-type(1){ 
    font-family: "High Tower Text", sans-serif; 
    font-size: 10px;
    
}
tr.outline-row > td:nth-of-type(2) { 
    font-size: 13px;
    
}
tr.outline-row > td:nth-of-type(3), tr.note-row > td:nth-of-type(3){ 
    
}
tr.outline-row > td:nth-of-type(3), tr.note-row > td:nth-of-type(3){ 
    
}


/* Column header style */

tr#header div > div > div {
padding-bottom: 2px;

}
tr#header > td > div > div {
    
}


/* Level Styles */
/*****************
Level# styles – Does not include background colors. Applied to both nested outline column table and divs in non-nested row cells. Applied to row label cell of note rows.
Level# background color – Applied to both div holding nested outline column table and divs in non-nested row cells
Level# gutter color – Only applied to nested table for outline column
******************/
/* Level 1 styles */
tr.outline-row.level-1 td, tr.outline-row.level-1 div > div, tr.note-row.level-1 table.note-table td:nth-of-type(3) { 
    
}
/* Level 1 background color */
tr.level-1 > td > div.alt-row-layer > div, tr.level-1.note-row > td > div { 
    
}
/* Level 1 gutter color */
tr.outline-row.level-1 table.outline-column td:not(:last-of-type) { 
    
}

/*********************************************
Named styles info:
Padding values are not included here because they are additive and can affect a different row than the one that has the attribute
*********************************************/
/* Named Styles */
div#centered tr td .ns-nU7Pax9sHwm-DestaqueAmarelo, .ns-nU7Pax9sHwm-DestaqueAmarelo, div#centered .ns-nU7Pax9sHwm-DestaqueAmarelo div { 
    
}
div#centered tr td .ns-m6c_M2fT6yP-DestaqueVermelho, .ns-m6c_M2fT6yP-DestaqueVermelho, div#centered .ns-m6c_M2fT6yP-DestaqueVermelho div { 
    
}
div#centered tr td .ns-auoqZ5xVKeG-DestaqueVerde, .ns-auoqZ5xVKeG-DestaqueVerde, div#centered .ns-auoqZ5xVKeG-DestaqueVerde div { 
    
}
div#centered tr td .ns-hE9mXgl4a8m-Roxo, .ns-hE9mXgl4a8m-Roxo, div#centered .ns-hE9mXgl4a8m-Roxo div { 
    color: rgb(167,123,217);
    
}
div#centered tr td .ns-l2kopvXC4ak-Azul, .ns-l2kopvXC4ak-Azul, div#centered .ns-l2kopvXC4ak-Azul div { 
    color: rgb(71,161,240);
    
}
div#centered tr td .ns-f7F2187eZ56-Azul-bondi, .ns-f7F2187eZ56-Azul-bondi, div#centered .ns-f7F2187eZ56-Azul-bondi div { 
    color: rgb(0,200,203);
    
}
div#centered tr td .ns-kJhkVDl2Xsd-Verde, .ns-kJhkVDl2Xsd-Verde, div#centered .ns-kJhkVDl2Xsd-Verde div { 
    color: rgb(120,195,68);
    
}
div#centered tr td .ns-inNRQJ-da6E-Amarelo, .ns-inNRQJ-da6E-Amarelo, div#centered .ns-inNRQJ-da6E-Amarelo div { 
    color: rgb(255,197,0);
    
}
div#centered tr td .ns-nAm7imW-teW-Laranja, .ns-nAm7imW-teW-Laranja, div#centered .ns-nAm7imW-teW-Laranja div { 
    color: rgb(255,163,94);
    
}
div#centered tr td .ns-jtC-ndQ7Pcw-Vermelho, .ns-jtC-ndQ7Pcw-Vermelho, div#centered .ns-jtC-ndQ7Pcw-Vermelho div { 
    color: rgb(246,120,137);
    
}
div#centered tr td .ns-dI8s4BxgdIs-Grafite, .ns-dI8s4BxgdIs-Grafite, div#centered .ns-dI8s4BxgdIs-Grafite div { 
    color: rgb(125,143,180);
    
}

/* Named Styles Backgroud Colors */
div#centered tr td .ns-bg-nU7Pax9sHwm-DestaqueAmarelo, .ns-bg-nU7Pax9sHwm-DestaqueAmarelo { 
    background-color: rgba(255,197,0,0.25);
    
}
div#centered tr td .ns-bg-m6c_M2fT6yP-DestaqueVermelho, .ns-bg-m6c_M2fT6yP-DestaqueVermelho { 
    background-color: rgba(246,120,137,0.25);
    
}
div#centered tr td .ns-bg-auoqZ5xVKeG-DestaqueVerde, .ns-bg-auoqZ5xVKeG-DestaqueVerde { 
    background-color: rgba(120,195,68,0.25);
    
}
div#centered tr td .ns-bg-hE9mXgl4a8m-Roxo, .ns-bg-hE9mXgl4a8m-Roxo { 
    
}
div#centered tr td .ns-bg-l2kopvXC4ak-Azul, .ns-bg-l2kopvXC4ak-Azul { 
    
}
div#centered tr td .ns-bg-f7F2187eZ56-Azul-bondi, .ns-bg-f7F2187eZ56-Azul-bondi { 
    
}
div#centered tr td .ns-bg-kJhkVDl2Xsd-Verde, .ns-bg-kJhkVDl2Xsd-Verde { 
    
}
div#centered tr td .ns-bg-inNRQJ-da6E-Amarelo, .ns-bg-inNRQJ-da6E-Amarelo { 
    
}
div#centered tr td .ns-bg-nAm7imW-teW-Laranja, .ns-bg-nAm7imW-teW-Laranja { 
    
}
div#centered tr td .ns-bg-jtC-ndQ7Pcw-Vermelho, .ns-bg-jtC-ndQ7Pcw-Vermelho { 
    
}
div#centered tr td .ns-bg-dI8s4BxgdIs-Grafite, .ns-bg-dI8s4BxgdIs-Grafite { 
    
}

/* Named Styles Gutter Colors */
div#centered tr td .ns-gutter-nU7Pax9sHwm-DestaqueAmarelo, .ns-gutter-nU7Pax9sHwm-DestaqueAmarelo { 
    
}
div#centered tr td .ns-gutter-m6c_M2fT6yP-DestaqueVermelho, .ns-gutter-m6c_M2fT6yP-DestaqueVermelho { 
    
}
div#centered tr td .ns-gutter-auoqZ5xVKeG-DestaqueVerde, .ns-gutter-auoqZ5xVKeG-DestaqueVerde { 
    
}
div#centered tr td .ns-gutter-hE9mXgl4a8m-Roxo, .ns-gutter-hE9mXgl4a8m-Roxo { 
    
}
div#centered tr td .ns-gutter-l2kopvXC4ak-Azul, .ns-gutter-l2kopvXC4ak-Azul { 
    
}
div#centered tr td .ns-gutter-f7F2187eZ56-Azul-bondi, .ns-gutter-f7F2187eZ56-Azul-bondi { 
    
}
div#centered tr td .ns-gutter-kJhkVDl2Xsd-Verde, .ns-gutter-kJhkVDl2Xsd-Verde { 
    
}
div#centered tr td .ns-gutter-inNRQJ-da6E-Amarelo, .ns-gutter-inNRQJ-da6E-Amarelo { 
    
}
div#centered tr td .ns-gutter-nAm7imW-teW-Laranja, .ns-gutter-nAm7imW-teW-Laranja { 
    
}
div#centered tr td .ns-gutter-jtC-ndQ7Pcw-Vermelho, .ns-gutter-jtC-ndQ7Pcw-Vermelho { 
    
}
div#centered tr td .ns-gutter-dI8s4BxgdIs-Grafite, .ns-gutter-dI8s4BxgdIs-Grafite { 
    
}
